#game {
	width: 450px;
	margin: 15px auto;
}
.region {
	width: 50%;
	float: left;
}
.label {
	padding: 10px 0;
	margin: 0 0 37px;
	text-align: center;
}
.hand {
	width: 75px;
	height: 50px;
	margin: 0 auto 15px auto;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #000;
	border-radius: 10px;
}
.hand:hover {
	cursor: pointer;
}
.selected {
	background-color: #eee;
}
.currentTurn {
	outline: 2px solid;
}
.split-container {
	height: 60px;
}
.split-btn {
	display: none;
	margin: 0 auto;
	width: 75px;
}
